<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <!-- Bootstrap core CSS -->
    <link href="https://mdbootstrap.com/previews/docs/latest/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="https://mdbootstrap.com/previews/docs/latest/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript">
        var _taq = {"id":"107a3b41-1aa3-45c6-a324-f0399a2aa2af","events":[],"identify":[],"property":[], "handlers":[], "EV_SERVER":"js5dc10.gamooga.com"};
        (function() {
            var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true; ta.id = "__ta";
            ta.src = '//cdn-jp.gsecondscreen.com/static/tapre.min.js';
            var fs = document.getElementsByTagName('script')[0]; fs.parentNode.insertBefore(ta, fs);
        })();
    </script>

   <!-- <script type="text/javascript">
        var _taq = {"id":"107a3b41-1aa3-45c6-a324-f0399a2aa2af","events":[],"identify":[],"property":[], "handlers":[], "EV_SERVER":"js5dc10.gamooga.com"};
        var _taq=_taq||{};_taq.EV_SERVER=_taq.EV_SERVER||"evbk.gamooga.com";_taq.vid=localStorage.getItem("_gmg_vid");(function(){if(!_taq.vid){console.log("Gamooga preload script failed, no visitor id");return}var k=encodeURIComponent;var a=parseInt(Math.random()*10000).toString(36);var f=_taq._pre_act_arr_arr=[];var h=_taq._pre_atic_view=[];var l=_taq._pre_atic_click=[];var g=function(p){for(var n=0;n<p.length;n++){var o=[];for(var m=0;m<p[n]["a"].length;m++){var q=[];if(p[n]["a"][m]["r"]=="show_notif"&&p[n]["a"][m]["args"]["notif"]["nst"]==3){e(p[n]["t"],p[n]["a"][m],p[n]["d"])}else{q.push(p[n]["a"][m])}}if(q.length>0){o.push({t:p[n]["t"],a:q,d:p[n]["d"]})}}if(o.length>0){f.push(o)}};var e=function(i,n,m){(function(){var q=i;var p=n.args["notif"];var o=n.args["nid"];b(q,o,p)})()};var b=function(m,i,n){var o=document.querySelector(n.jqid);if(o){if(n.w!=""){o.style.width=n.w+"px"}if(n.h!=""){o.style.height=n.h+"px"}o.innerHTML=n.ctext;if(window.CustomEvent){var p=new CustomEvent("gmg_inpage_render");document.dispatchEvent(p)}h.push([m,i,o]);(function(){o.addEventListener("click",function(){var r=m;var q=i;l.push([r,q])})})()}};if(typeof WebSocket!="undefined"&&_taq.EV_SERVER.indexOf("evbk6")==-1){var d=window.location.protocol==="https:"?"wss":"ws";_taq.pre_get_data_ws=new WebSocket(d+"://"+_taq.EV_SERVER+"/pm/?c="+k(_taq.id)+"&v="+k(_taq.vid)+"&s=sid&t="+k(a)+"&z="+(new Date().getTime())+""+parseInt(Math.random()*10000));_taq.pre_get_data_ws.onmessage=function(i){if(i.data){g(JSON.parse(i.data))}}}var j=_taq.events;_taq.events={};_taq.events.push=function(o){var n="";if(_taq.debug){n=parseInt(Math.random()*10000);console.log("%c Gamooga %cpre event "+n+" %c "+o[0]+" %c "+JSON.stringify(o[1]),"color:#ff3333","color:blue","background:#ff3333;color:white","");n="&rid="+n}var m=new Image(1,1);var q="//"+_taq.EV_SERVER+"/mev/?c="+k(_taq.id)+"&v="+k(_taq.vid)+"&s=sid&t="+k(a)+"&z="+(new Date().getTime())+""+parseInt(Math.random()*10000);var p=window.btoa(unescape(k(JSON.stringify(o))));p=p.replace(/\+/g,"-").replace(/\//g,"_");q+="&data="+p+n;m.src=q};for(var c=0;c<j.length;c++){_taq.events.push(j[c])}})();
    </script> -->
</head>
<!-- Nav bar-->
<body class="fixed-sn light-blue-skin">

   <!--Main Navigation-->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#"><strong>MyApp</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Updates</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                
                
            </ul>
        </div>
    </nav>

</header>
    <!--Main Layout-->
    <main>   
    <div class="container-fluid mt-2">
        <!-- write the content here-->
    <div class="row">
        <div class="col-md-8 ">
            <div id="gamooga_div">New Updates will appear here i am working on the content of the program</div>
            <div class="text-center py-4 mt-3">
                    <a class="btn btn-cyan" href="/login">Login</a>
                </div>  
        </div>
        <div class="col-md-4">
<!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">

                    <!-- Material form register -->
                    <form action="/signup" method="POST">
                        <p class="h4 text-center py-4">Sign up</p>

                        <!-- Material input text -->
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="materialFormCardNameEx" name ="name" class="form-control">
                            <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
                        </div>

                        <!-- Material input email -->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="materialFormCardEmailEx" name="email" class="form-control">
                            <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                        </div>

                        <!-- Material input email -->
                        <div class="md-form">
                            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                            <input type="email" id="materialFormCardConfirmEx" class="form-control">
                            <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
                        </div>

                        <!-- Material input password -->
                        <div class="md-form">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="materialFormCardPasswordEx" name="password" class="form-control">
                            <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                        </div>

                        <div class="text-center py-4 mt-3">
                            <button class="btn btn-cyan" type="submit">Register</button>
                        </div>
                    </form>
                    <!-- Material form register -->

                </div>
                <!-- Card body -->

            </div>
            <!-- Card -->
                
        </div>
    </div>
    
</div>
</main>
    <!--Main Layout-->


    <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/jquery-3.2.1.min.js"></script>

    <!-- Tooltips -->
    <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
    <script>
        
        // SideNav Initialization
        $(".button-collapse").sideNav();
        

    </script>
    <!--OLD Script -->
    <!-- <script type="text/javascript">
        var _taq = {"id":"107a3b41-1aa3-45c6-a324-f0399a2aa2af","events":[],"identify":[],"property":[], "handlers":[]};
        (function() {
            var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true; ta.id = "__ta";
            ta.src = '//cdn-jp.gsecondscreen.com/static/ta.min.js';
            var fs = document.getElementsByTagName('script')[0]; fs.parentNode.insertBefore(ta, fs);
        })();
    </script> -->

 <!--New  Script -->

    <script type="text/javascript">
        (function() {
            var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true; ta.id = "__ta";
            ta.src = '//cdn-jp.gsecondscreen.com/static/ta.min.js';
            var fs = document.getElementsByTagName('script')[0]; fs.parentNode.insertBefore(ta, fs);
        })();
    </script>
    
    
</body>
</html>
