<!DOCTYPE html>
<html>
<body>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
<div id="demo">
<h2>The XMLHttpRequest Object</h2>
<button type="button" onclick="loadDoc()">Change Content</button>
</div>

<script>
function loadDoc() {
    var settings = {
           "async": true,
           "crossDomain": true,
           "url": "http://192.168.2.30:1151/testing",
           "method": "GET"
         }

         $.ajax(settings).done(function (response) {
           console.log(response);
         });
}
</script>

</body>
</html>
